@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Inter;
  src: url('/fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype');
}

:root {
  --gray: #f4f4f4;
  --mid-gray: #eaeaea;
  --dark-gray: #5c5c5c;
  --blue: #617db6;
  --dark-blue: #3b4c6f;
  --black: #000000;
  --white: #ffffff;
  --green: #77b661;
  --dark-green: #35512b;

  --toastify-color-info: var(--blue);
}

html {
  scrollbar-gutter: stable;
}
